#root{
  background-color: rgb(130, 238, 164);
}
#title {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #22055d; 
}
.table {
  width: 100%; 
  max-width: 1000px; 
  border-collapse: collapse;
  margin: 10px auto; 
  font-size: 15px; 
  text-align: left;
  overflow-x: auto; 
}

th, td {
  padding: 8px; 
  border-bottom: 1px solid #ddd;
  overflow-wrap: break-word;
  max-width: 200px; 
  text-overflow: ellipsis; 
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: pink;
}

tr:hover {
  background-color: #baed13;
}

th {
  font-weight: bold;
  color: #f9f9f9;
  background-color: rgb(8, 91, 8);
}

td {
  color: #22055d;
}

#delete{
  color: red;
}